.topic-posts {
    margin: 16px 0;
}

.topic-posts .topic-select {
    padding: 8px;
}

.topic-posts .topic-select:nth-child(odd) {
    background-color: rgba(190, 135, 50, 0.13);
}

.topic-select label {
    font-weight: bold;
}

.add-topics {
    margin-top: 16px;
}